<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Добавление товара в базу данных</h1>

<figure>
    <p><img src="w2.png" width="400" /></p>
    <figcaption>Поля ввода</figcaption>
</figure>

<article>
    Для добавления товара в базу данных необходимо нажать кнопку добавить в окне "Склад". Откроется окно добавления нового товара.<br>
    В окне "Добавить товар" необходимо ввести в поля ввода информацию о новом товаре:
    <ol>
        <li>В поле "Штрих-код" ввести штрих-код добавляемого товара</li>
        <li>В поле "Имя" ввести название товара</li>
        <li>В поле "Количество" ввости количество товара</li>
        <li>В поле "Стоимость" ввести стоимость единицы товара</li>
        <li>Нажать кнопку "Добавить"</li>
    </ol>
</article>

<figure>
    <p><img src="w8.png" width="400" /></p>
    <figcaption>Поля ввода</figcaption>
</figure>


<article>Запись о товаре добавится в базу данных. После нажатия кнопки "Сброс" можно будет увидеть изменения:</article>

<figure>
    <p><img src="w9.png" width="400" /></p>
    <figcaption>Результаты добавления</figcaption>
</figure>