<head>
  <meta charset="utf-8">
 </head>
<body>
<h1> Руководство пользователя.</h1>
<article>
   В данном руководстве описывается работа с модулями программно-аппаратного комплекса "Касса в магазине".
  </article>
</body>
