<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Описание окна.</h1>
<figure>
    <p><img src="1.PNG" width="200" /></p>
    <figcaption>Окно авторизации</figcaption>
</figure>

<article>
    Окно Авторизации состоит из:
    <ul>
        <li>Текстовой области для ввода логина </li>
        <li>Текстовой области для ввода пароля</li>
        <li>Кнопки авторизаци</li>
        <li>Кнопки вызова справки</li>
    </ul>
</article>


