<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Руководство по использованию модуля авторизации.</h1>

<h4>Модуль авторизации позволяет авторизоваться в зависимости от логина/пароля и нужного набора функций.</h4>
<article>
    В настоящем руководстве рассматриваются функции, выполняемые модулем авторизации.
</article>


