<head>
  <meta charset="utf-8">
 </head>
<body>
<h1>Руководство по использованию модуля кладовщика. </h1>

<h4>Модуль кладовщика отвечает за добавление и удаление записи в базе данных.</h4>

<article>
    В настоящем руководстве рассматриваются функции, выполняемые данным модулем.
</article>

</body>
