<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Описание окна кладовщика.</h1>
<figure>
    <p><img src="8.jpg" width="400" /></p>
    <figcaption>Окно кладовщика</figcaption>
</figure>
<figure>
    <p><img src="5.jpg" width="400" /></p>
    <figcaption>Окно добавления товара</figcaption>
</figure>

<article>
    В окне кладовщика находятся:
    <ul type="square">
        <li>Поле ввода для поиска товаров в базе данных </li>
        <li>Кнопка "Поиск" для начала поиска</li>
        <li>Опции поиска "По штрих-коду" и "По названию"</li>
        <li>Кнока "Сброс", нажатие которой обновляет окно базы данных</li>
        <li>Область вывода базы данных </li>
        <li>Кнопка "Добавить товар"</li>
        <li>Кнопка "Удалить товар"</li>
    </ul>
</article>

<article>
    В окне добавления товара находятся:
    <ul type="circle">
        <li>4 поля ввода: "Штрих-код", "Имя", "Количество" и "Стоимость" </li>
        <li>Кнопка "Добавить"</li>
        <li>Кнопка "Отмена", закрывающая окно</li>
    </ul>
</article>