<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Поиск товара в базе данных</h1>

<article>
    Если товар выведен в поле отображения базы данных, то чтобы его выделить нужно просто щёлкнуть по нему левой кнопкой мыши.<br><br>
    Для поиска товара во всей базе данных необходимо сначала выбрать необходимую опцию "По штрих-коду" или "По названию".
</article>

<figure>
    <p><img src="w5.png" width="400" /></p>
    <figcaption>Опции поиска</figcaption>
</figure>

<article> Далее необходимо ввести в поле ввода имя товара, в случае если была выбрана опция "По названию", иначе ввести штрих-код товара.</article>

<figure>
    <p><img src="w6.png" width="400" /></p>
    <figcaption>Поле ввода</figcaption>
</figure>

<article>
    После этого нужно нажать на кнопку "Поиск".<br><br>
    Найденные товары выведуться в область базы данных.
</article>

<figure>
    <p><img src="w7.png" width="400" /></p>
    <figcaption>Результаты поиска</figcaption>
</figure>