<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Удаление товара из базы данных</h1>
<figure>
    <p><img src="w3.png" width="400" /></p>
    <figcaption>Окно кладовщика</figcaption>
</figure>
<article>
    Начальник скалада имеет возможность удалить запись о товаре из базы данных. Для этого нужно:
    <ul>
        <li>Найти товар в базе данных с помощью поиска</li>
        <li>Выделить товар, который необходимо удалить, нажав левую кнопку мыши на его записи в базе данных</li>
        <li>Нажать кнопку "Удалить"</li>
    </ul>
</article>