<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Списание товара.</h1>
<figure>
    <p><img src="merch2.png" width="200" /></p>
    <figcaption>Окно мерчендайзера</figcaption>
</figure>

<article>
    Для списания товара необходимо:
    <ul type="square">
        <li>ввести штрих-код товара в область ввода 1 </li>
        <li>ввести количество товара, с данным штрих-кодом, которое необходимо списать</li>
        <li>нажать кнопку "списать"</li>
    </ul>
    После данных действий из базы данных удалиться заданное количество данного товара.
</article>