<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Осуществление работы с кассовым аппаратом</h1>
<figure>
    <p><img src="1.jpg" width="650" /></p>
    <figcaption>Окно кассового аппарата</figcaption>
</figure>
<h4>
    В этом разделе рассматриваются простые шаги, позволяющие обслужить одного клиента.
</h4>
<article>
    Чтобы обработать один чек нужно выполнить следующие действия:
    <ol>
        <li>Убедитесь, что окно модуля кассового аппарата запущено. </li>
        <li>Нажмите кнопку «Открыть чек». </li>
        <li>Нажмите кнопку «Считать товар» </li>
        <li>При надобности удаления продукта – нажмите кнопку «Удалить товар», предварительно выделив строчку с его информацией в таблице.</li>
        <li>Если штрих-код не считался – нажмите кнопку «Ввести штрих-код».  В появившемся диалоговом окне введите нужный штрих-код, затем кнопку «ОК».</li>
        <li> Если нужно внести несколько товаров данного типа – выделите нужный товар в таблице и нажмите кнопку «Ввести количество». В появившемся диалоговом окне введите нужное количество, затем кнопку «ОК».</li>
        <li>Если нужно ввести несколько товаров разных типов - повторите пункты 3-6.</li>
        <li>При условии наличия скидочной карты – нажмите кнопку «Приложить скидочную карту».</li>
        <li>Закройте чек кнопкой «Закрыть чек».</li>
    </ol>
</article>
</body>