<head>
    <meta charset="utf-8">
</head>
<h1>Работа с чеком.</h1>
<figure>
    <p><img src="1.jpg" width="500" /></p>
    <figcaption>Окно кассового аппарата</figcaption>
</figure>
<article>
    Для работы с чеком предназначено 2 функции – открыть чек, закрыть чек.<br><br>
    При нажатии кнопки «Открыть чек» создаётся новый (пустой) чек.<br><br>
    При нажатии кнопки «Закрыть чек» текущий открытый чек   выводится на печать и закрывается.<br><br>
</article>

