<head>
    <meta charset="utf-8">
</head>
<h1>Ручной ввод количества/штрих-кода.</h1>
<figure>
    <p><img src="1.jpg" width="500" /></p>
    <figcaption>Окно кассового аппарата</figcaption>
</figure>
<article>
    Для ручного ввода доступны два параметра – штрих-код и количество товара.<br><br>
    При нажатии на кнопку «Ввести штрих-код» в появившемся диалоговом окне нужно ввести штрих-код, состоящий из 13 символов и согласиться (клавиша «ОК»). В список товаров добавится товар, штрих-код которого совпадает с введённым.<br><br>
    При нажатии на кнопку «Ввести количество» (предварительно выделив товар, количество которого вы хотите увеличить) в появившемся диалоговом окне нужно ввести значение и согласиться (клавиша «ОК»).<br>
</article>


