<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Осуществление авторизации</h1>
<figure>
    <p><img src="1.PNG" width="200" /></p>
    <figcaption>Окно авторизации</figcaption>
</figure>

<article>
    Чтобы авторизоваться выполните следующие действия:
    <ol>
        <li>Введите логин в верхнее поле для ввода текста.</li>
        <li>Введите пароль в нижнее поле для ввода текста.</li>
        <li>При необходимости выберите из списка нужный тип авторизации Кассир/Мерчендайзер/Кладовщик</li>
        <li>Нажмите кнопку "Авторизоваться"</li>
    </ol>
</article>