<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Описание окна мерчендайзера.</h1>
<figure>
    <p><img src="merch1.png" width="200" /></p>
    <figcaption>Окно мерчендайзера</figcaption>
</figure>

<article>
    В окне расположены:
    <ul>
        <li>Текстовая области для ввода штрих-кода </li>
        <li>Текстовой области для ввода количества списываемого товара</li>
        <li>Кнопка "Списать"</li>
    </ul>
</article>