<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Руководство по использованию модуля мерчендайзера.</h1>

<h4>Модуль мерчендайзера отвечает за списывание товара с полки.</h4>
<article>
    В настоящем руководстве рассматриваются функции, выполняемые данным модулем.
</article>