<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Описание окна.</h1>
<img src="1.jpg" title="Изображение" height="300" width="650">

<p> Окно кассового аппарата</p>

<article>
    В левом верхнем углу главного окна вы найдёте свой логин, под которым вы авторизовались.
</article>
<article>
    Окно Кассового аппарата состоит из 4-х разделов:
    <ul>
        <li>Таблица, содержащая список товаров.</li>
        <li>Область для работы с чеком</li>
        <li>Область для работы с товарами</li>
        <li>Область для работы со скидочными картами</li>
    </ul>
</article>
<article>
    Таблица содержащая список товаров состоит из 5 столбцов:
    <ul>
        <li>Штрих-код (идентификационный номер товара, состоящий из 13 символов);</li>
        <li>Название (наименование товара);</li>
        <li>Цена (стоимость одного экземпляра товара);</li>
        <li>Количество (количество экземпляров такого товара);</li>
        <li>Итого (итоговая стоимость по экземплярам такого товара).</li>
    </ul>
</article>
<article>
    Область для работы с чеком включает в себя 3 кнопки:
    <ul>
        <li>"Открыть чек" – позволяет открыть новый чек ;</li>
        <li>"Считать товар" – позволяет считать новый товар ;</li>
        <li>"Закрыть чек" – позволяет закрыть уже открытый чек .</li>
    </ul>
</article>
<article>
    Область для работы с товарами содержит 3 кнопки:
    <ul>
        <li>"Удалить товар" - позволяет удалить товар из списка; </li>
        <li>"Ввести код товара" ;</li>
        <li>"Ввести количество".</li>
    </ul>
</article>
<article>
    Область для работы со скидочными картами.
    <ul>
        <li>"Приложить скидочную карту" – позволяет рассчитать скидку с картой.</li>
    </ul>
</article>


