<head>
    <meta charset="utf-8">
</head>
<h1>Работа с товарами.</h1>
<figure>
    <p><img src="1.jpg" width="500" /></p>
    <figcaption>Окно кассового аппарата</figcaption>
</figure>
<article>
    Для работы с товарами присутствует 2 функции – считать товар, удалить товар.<br><br>
    При нажатии кнопки «Считать товар» в таблицу записывается товар с нужным штрих-кодом. Если при этом считался товар, который уже присутствует в списке товаров, то его количество увеличится на единицу.<br><br>
    Для удаления товара нужно выделить в таблице товаров нужный товар и нажать кнопку «Удалить товар».<br><br>
    Примечание: В случае, если экземпляров товара было несколько – удалятся все экземпляры. Чтобы удалить только несколько экземпляров – измените количество на нужное с помощью кнопки «Ввести количество», предварительно выделив товар в списке.<br><br>
</article>
