<head>
    <meta charset="utf-8">
</head>
<h1>Работа со скидочными картами.</h1>
<figure>
    <p><img src="1.jpg" width="500" /></p>
    <figcaption>Окно кассового аппарата</figcaption>
</figure>
<article>
    За начисление скидки по карте отвечает кнопка «Приложить скидочную карту». Эта кнопка позволяет получить итог со скидкой.<br>
</article>

