<head>
  <meta charset="utf-8">
 </head>
<body>
<h1> Руководство по использованию кассового аппарата.</h1>
<article>
    Кассовый аппарат представляет собой удобное, многофункциональное и быстрое приложение для работы с покупателями. Модуль предназначен для составления списка товаров (чека) и подсчета его итоговой стоимости.
</article>
<h4>
    Кассовый аппарат позволяет:
</h4>
<ul>
    <li>Открывать чек (создавать новый пустой список товаров) для клиентов.</li>
    <li>Подсчитывать итоговую стоимость покупки.</li>
    <li>Использовать скидочные карты.</li>
    <li>Вводить количество товара или идентификационный номер вручную.</li>
    <li>Добавлять товар в список.</li>
    <li>Удалять товар из списка.</li>
</ul>

<article>
    Инструкция основана на том предположении, что Вы авторизованы как кассир. Если вам необходима помощь в авторизации, сначала прочтите соответствующую инструкцию .
    В настоящем руководстве рассматриваются функции, выполняемые модулем Кассовый аппарат.
</article>

</body>
